.container {
    font-size: 64px;
    font-weight: bold;
    padding: 0;
}

.row {
    justify-content: center;
    justify-content: space-around;
}

.btn {
    size: 105px;
    height: 105px;
    width: 105px;
    margin: ;
    border-style: solid;
    border-color: white;
    font-weight: bold;
    border-width: thick;
    font-family: 'Anton', sans-serif;

}
body {
    background-color: #F0F0F0;
}

.row-3 {
    padding-left: 50px;
    margin-left: 30px;
}

.bg-5 {
    background-color: #E6563B;
}
.bg-6 {
    background-color: #DEA03D;
}
.bg-7 {
    background-color: #7CB06C;
}
.bg-8 {
    background-color: #00ABA9;
}

img{
    border-style: solid;
    border-color: #E6E6E6;
}
.card{
    justify-items: center;
margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-color: transparent   ;
}
p{
    font-size: 16px;
    font-family:"abel regular";
}
.navbar{
    line-height: 30px;
    border-style: solid;
}
.bg-9{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    size: 18px;
    height: 18px;
    width: 18px;
    border: none;
    margin-right: 2px;
    background-color: #E6563B;
    color: black;
    font-size: 14px;
    font-family: 'Anton', sans-serif;}
.bg-10{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    size: 18px;
    height: 18px;
    width: 18px;
    border: none;
    margin-right: 2px;
    background-color: #EB9D3A;
    color: black;
    font-size: 14px;
    font-family: 'Anton', sans-serif;}
.bg-11{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    size: 18px;
    height: 18px;
    width: 18px;
    border: none;
    margin-right: 2px;
    background-color: #7CB06C;
    color: black;
    font-size: 14px;
    font-family: 'Anton', sans-serif;
}
.bg-12{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    size: 18px;
    height: 18px;
    width: 18px;
    border: none;
    background-color: #00ABA9;
    color: black;
    font-size: 14px;
    font-family: 'Anton', sans-serif;}
.card-body{
    padding: 0;
    margin: 0;
}
.card-text{

    justify-content: right;
    width: 60%;
    margin: 0;
    margin-right: 0;
    margin-block-end: 0;
    font-family: 'Abel', sans-serif;
}
.row-4{
    display: flex;
    padding-left: 50px;
    /*!**justify-items: center;*/
    float: right;
    clear: top;

}
.container-3 {
    display: flex;
}
.bg-2>p {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}
.bg-3>p {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
p {
    font-family: 'Abel', sans-serif;
    font-size: 12px;
    text-align: center;
    border-top: 50px;

}
.bg-3 {
    font-size: 28px;
}
.selected-work-text {
    margin-top: 40px;
}

